* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(web4.png);
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  justify-content: center;
  align-items: center;
  display: flex;
  background-size: cover;
}

h1 {
  font-size: 5rem;

}